.booking_widget_wrapper {
    background-image: url("../assets/widget_background.jpeg");
    background-size: contain;
    background-position: top;

    padding: 6.25em 0 0 0;
}

.booking_widget {
    background: white;
    display: flex;
    flex-direction: column;
    gap: 1.5em;

    padding: 1.5em 2em;
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;

    &__input_wrapper {
        &__label {
            font-weight: normal;
            margin-bottom:.5em;
        }
    }
}

@media (min-width: 768px) {
    .booking_widget_wrapper {    
        background-size: cover;
        background-position: center;
    
        padding: 5em 12.5em;
    }
    .booking_widget {
        border-radius: .5em;
    }
}