.input {
    border: unset;
    background: unset;
    outline: unset;

    border: 1px solid var(--color-gray-100);
    border-radius: .5em;

    padding: .75em 1em;
    width: 100%;

    font-size: 1rem;

    &::placeholder {
        color: var(--color-gray-500);
    }

    &:focus {
        border-color: var(--color-gray-500);
    }
}

.input_toast {
    color: var(--color-gray-200);
    margin: 0 0 .5em 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}