.input {
    border: unset;
    background: unset;
    outline: unset;

    border: 1px solid #d9d9d9;
    border-radius: .5em;

    padding: .75em 1em;

    font-size: 1rem;

    &::placeholder {
        color: #1e1e1e
    }

    &:focus {
        border-color: #1e1e1e;
    }
}