.status {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  background-color: white;
  height: 100px;

  &__card {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__title {
      font-size: .875rem;
      display: flex;
      gap: .5em;
      align-items: center;
    }
  }
  
  .active {
    background-color: var(--color-gray-100);
  }
}